@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
    <title>RsvpFrom</title>
</head>
<body>
    <div>
    This is the RSVP from .cshtml View    
    </div>
    </body>
</html>

