@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name=" viewport" conect=" width = device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       @ViewBag.Greeting World (from the view)
    </div>

</body>

</html>